<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="default_user_form">
    <input type="hidden" id="id" th:field="*{id}">
    <div class="form-group">
        <label>Username *</label>
        <input type="text" class="form-control" id="username" th:field="*{username}"
               placeholder="Enter username" required>
        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
        <p class="text-danger" th:if="${param.error != null}" th:errors="*{username}"></p>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" id="age" th:field="*{age}"
               placeholder="Enter age">
        <p class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
    </div>
    <div class="form-group">
        <label>Password *</label>
        <input type="password" class="form-control" id="password" th:field="*{password}"
               placeholder="Enter password" required>
        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div class="form-group">
        <label>Repeat password *</label>
        <input type="password" class="form-control" id="matchPassword" th:field="*{matchPassword}"
               placeholder="Enter password again" required>
        <p class="text-danger" th:if="${#fields.hasErrors('matchPassword')}" th:errors="*{matchPassword}"></p>
    </div>
</th:block>

</html>