<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/default_headers :: default_head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/default_headers :: default_nav"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/category}" method="post" th:object="${category}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Product category name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Enter product category name">
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" th:href="@{/category}">Cancel</a>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/default_headers :: default_scripts"></th:block>

</body>
</html>